.principal-news{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.news{
    width: 70%;
}

.principal-news img{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 320px;
}

.principal-news h1{
    font-size: 35pt;
    margin-top: 15px;
}

.principal-news p{
    font-size: 16pt;
}

